html {
    scroll-behavior: smooth;
}


#aboutme,
#education,
#skills,
#languages,
#achievements {
    scroll-margin-top: 70px;
}

html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

body {
    position: relative;
}